# NOTE: Keep lines sorted in the ascending order

.DS_Store
all_chapterized_books/
booksum-main/
data/
oa_secrets.py
summscreen/
snac-main/t5-span
snac-main/t5-nospan
QAFactEval/
SummScreen_raw/
.vs-code/
qafacteval_env/